<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Serverspec.github.com : " />

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">

    <title>Serverspec - {{ page.title }}</title>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39733795-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>

  </head>

  <body>

    <!-- HEADER -->
    <div id="header-wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/serverspec/serverspec">View on GitHub</a>
          
          <nav id="top-nav">
            <a href="/">HOME</a>
            <a href="/tutorial.html">TUTORIAL</a>
            <a href="/resource_types.html">RESOURCE TYPES</a>
            <a href="/advanced_tips.html">ADVANCED TIPS</a>
            <a href="/host_inventory.html">HOST INVENTORY</a>
            <a href="/changes.html">CHANGES</a>
            <a href="/contributors.html">CONTRIBUTORS</a>
          </nav>

          <h1 id="project-title"><img src="/images/logo.png" width="260" height="60" alt="logo" /></h1>
          <h2 id="project-tagline">RSpec tests for your servers configured <br> by CFEngine, Puppet, Ansible, Itamae or anything else.</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>This project is maintained by <a href="http://mizzy.org/">Gosuke Miyashita</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a> (<a href="https://github.com/serverspec/serverspec.github.io">documentation repository</a>)</p>
      </footer>
    </div>

    
  </body>
</html>
