<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Serverspec.github.com : " />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>serverspec - {{ page.title }}</title>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39733795-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>

  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/mizzy/serverspec">View on GitHub</a>

          <h1 id="project_title">serverspec</h1>
          <h2 id="project_tagline">RSpec tests for your servers configured by Puppet, Chef or anything else</h2>

          <nav>
              <a href="./">Home</a>
            | <a href="./tutorial.html">Tutorial</a>
            | <a href="./resource_types.html">Resource Types</a>
            | <a href="./advanced_tips.html">Advanced Tips</a>
            | <a href="./changes.html">Changes</a>
            | <a href="./contributors.html">Contributors</a>
          </nav>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>This project is maintained by <a href="http://mizzy.org/">Gosuke Miyashita</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    
1
  </body>
</html>
